<ion-content [fullscreen]="true">
  <div class="back">
    <ion-button class="backButton" routerLink="/" routerDirection="root">
      <ion-icon name="caret-back-circle-outline"></ion-icon>
    </ion-button>
  </div>

  <div class="header">
    <p class="title">Message from HOD</p>

    <p class="hodName">Dhananjay Kalbande</p>

    <h3 class="hodTitle">(HOD of Computer Science and Engineering Department)</h3>
  </div>

  <ion-card class="card">
    <ion-card-content class="ccontent">
      <ion-img class="img" src="https://cse.spit.ac.in/assets/faculty/dr-dhananjay-kalbande.jpg"></ion-img>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
      <span class="quotes">
        <ion-icon src="./assets/svg/inverted-commas-start.svg"></ion-icon>
        <p>Dear Students</p>
      </span>
      <div>
        <p class="msg">
          <span>I would like to extend my warmest welcome to the Department of Computer Science and Engineering.
            The Department offers 2 UG programs [B.Tech CSE (Data Science), B.Tech CSE (AIML) ] and 1 PG Program [ MCA
            ].
            We pride ourselves on being pioneers to educate tomorrow's visionaries, conducting research, and leading a
            broad range of
            initiatives that validate the transformative power of Computer Science and Engineering and Computer
            Applications.
            Our innovative academic and research institution gives serious students like you the skills needed to launch
            successful careers.</span><br>
          <span>Through high-quality academic programs enriched with today's National Education Policy(NEP-2020) that
            offer a
            unique blend of
            teaching, research, activity-based learning including Seva Satva, minors etc. that strengthens your ability
            to
            solve problems,
            you can expand your knowledge base, work independently, think critically, and find new ways to apply Science
            and Engineering concepts
            to benefit society.Students work alongside faculty members who are leaders in their respective disciplines,
            have access to labs
            equipped with the latest technologies, and are connected to a comprehensive University providing breadth and
            depth of opportunities.</span><br>
          <span>As a result, our students acquire critical thinking capabilities as well as practically oriented skills
            that
            are prized by prestigious
            companies and academic institutions of National and International Importance.All faculty members of the
            Department of Computer Science
            and Engineering are strongly committed to supporting your success. In return, we know you will study hard,
            seek out and respect the
            opinions of faculties and find opportunities to give back to your society.</span><br>
          <span> The efforts are consciously planned
            for the overall
            development of students. This leads our students to become competent, innovative, socially-responsible and
            dynamic. We are confident
            that our students will emerge as assets not only to this institution but also to the entire society, and the
            nation at large.I wish you
            all very best for the successful career ahead. </span>
        </p>
      </div>
      <span class="quotes">
        <ion-icon src="./assets/svg/inverted-commas-end.svg"></ion-icon>
      </span>
    </ion-card-content>
  </ion-card>
</ion-content>