<ion-content [fullscreen]="true">
  <div class="back">
    <ion-button class="backButton" routerLink="/" routerDirection="root">
      <ion-icon name="caret-back-circle-outline"></ion-icon>
    </ion-button>
  </div>

  <div class="header">
    <p>Department</p>
  </div>

  <ion-card class="department-card">
    <ion-card-header>
      <ion-card-title>Department of MCA</ion-card-title>
      <ion-card-subtitle class="department-subtitle">Master of Computer Applications</ion-card-subtitle>
    </ion-card-header>
  
    <img src="./assets/img/dept1.jpg" alt="MCA department" class="department-image" />
  
    <ion-card-content class="department-content">
      <h1 class="department-heading">Welcome to MCA Department of Sardar Patel Institute of Technology</h1>
      <p class="department-description">Right from its first year in 2009, S.P.I.T. has been one of the sought-after colleges
        for MCA and is renowned for its ongoing courses. Even though it started in the year 2009, it has managed to excel
        quickly and with the highest cutoff this year, it has shown growth among the students all over.</p>
    </ion-card-content>
  </ion-card>
  
  <ion-card class="alumni-card">
    <ion-card-content class="alumni-content">
      <h1 class="alumni-heading">Alumni Testimonials</h1>
      <p class="alumni-description">MCA program in S.P.I.T. is an extensive program focusing on important aspects necessary
        to prepare students to become a mature information technology professional specializing in software engineering,
        statistics and data science, testing, or information security.</p>
      <p class="alumni-description">The 4th semester academia for mandatory internship is a wonderful path laid out for
        students to actually gauge their interest and capability to make better decisions later in career.</p>
      <h2 class="alumni-name">Sachin Gadagi</h2>
      <p class="alumni-details">2014 - 2017</p>
      <p class="alumni-details">Software Engineer at JP Morgan Chase</p>
      <iframe width="350" height="200" src="https://www.youtube.com/embed/2IiSvyIbU9U" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen></iframe>
      <h2 class="alumni-name">Osama Iqbal</h2>
      <p class="alumni-details">2016 - 2019</p>
      <p class="alumni-details">Nomura Services India</p>
      <iframe width="350" height="200" src="https://www.youtube.com/embed/_c9OPEwY0Hg" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen></iframe>
    </ion-card-content>
  </ion-card>
  

</ion-content>