<ion-content [fullscreen]="true">
  <div class="back">
    <ion-button class="backButton" routerLink="/" routerDirection="root">
      <ion-icon name="caret-back-circle-outline"></ion-icon>
    </ion-button>
  </div>

  <div class="header">
    <p>TimeTable</p>
  </div>

  <ion-card class="year-card">
    <ion-card-header>
      <ion-card-title class="year-title">FYMCA</ion-card-title>
      <ion-card-subtitle class="year-subtitle">Sem 2</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <img src="./assets/img/fy.png" alt="FYMCA" class="year-image">
    </ion-card-content>
  </ion-card>

  <ion-card class="year-card">
    <ion-card-header>
      <ion-card-title class="year-title">SYMCA</ion-card-title>
      <ion-card-subtitle class="year-subtitle">Sem 3</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <img src="./assets/img/sy.png" alt="SYMCA" class="year-image">
    </ion-card-content>
  </ion-card>


</ion-content>