<ion-content [fullscreen]="true" class="placement-content">
  <div class="back">
    <ion-button class="backButton" routerLink="/" routerDirection="root">
      <ion-icon name="caret-back-circle-outline"></ion-icon>
    </ion-button>
  </div>
  
  <div class="header">
    <p>Placement</p>
  </div>

  <h1>Placement Stats for 2020-22</h1>
  <ion-img class="placement-image" src="./assets/img/p1.png"></ion-img>
  <ion-img class="placement-image" src="./assets/img/p2.png"></ion-img>
  <ion-img class="placement-image" src="./assets/img/p3.png"></ion-img>
  <ion-img class="placement-image" src="./assets/img/p4.png"></ion-img>
  <ion-img class="placement-image" src="./assets/img/p5.png"></ion-img>

</ion-content>
