*{
    font-family: Abel;
}

.back{
    
    margin-left: 0.3em;
    margin-top: 10px;
}

.backButton{
    height: 3em;
    width: 4em;
}

.header{
    margin: 1em;
    margin-top: -35px;
    font-size: 3em;
    text-align: center;
    font-weight: 600;
}

.placement-content {
    background-color: #F5F5F5;
  }
  
  h1 {
    text-align: center;
    font-size: 2rem;
    margin-top: 2rem;
  }
  
  .placement-image {
    display: block;
    max-width: 100%;
    margin: 1rem auto;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  }
  